

@{
    ViewData["Title"] = "Afirme, su inversion de hoy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Home/jsIndex.js"></script>




<div class="form-horizontal col-md-12" style="overflow:hidden; width:100%; margin-top:0%">
        <img src=""  id="ourImg" onclick="goToFunction();" />
</div>

<div class="container-fluid" style="background-color:white">
    <br /><br />
</div>



<div class="form-horizontal col-md-12" style="overflow:hidden; width:100%;">
     <div class="row">


        <div class="col-md-6" style=float:left;>
         <img src="~/images/baja.jpg"  id="baja" onclick="goToFunction();" />
        </div>

        <div class="col-md-6"  style="float:left;">
               <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 noPadding">
		     	<div class="txtInfo scrollflow -slide-top -opacity" style="filter: opacity(1); transform: translate3d(0px, 0px, 0px) scale(1); transition: all 500ms ease-out 0s;">
		

                  <div style="color:gray;">
                    			<h6>ATENCION EN LINEA</h6>
                  </div>

                <div style="color:black;">
                    	<h3>Escríbenos, nosotros vamos.</h3>
                </div>
			
                <div style="color:dimgray;" >
                    <p><strong>¡Decide Hoy y obtén el producto ideal para ti sin salir de casa!</strong></p>
                 <p><span style="color:#bae557"><strong>Solicita Hoy&nbsp;</strong></span><strong>el producto bancario que necesitas sin tener que venir a una sucursal y en menor tiempo.</strong></p>
					<div class="contBtnAf">
						<a class="btn btn-success" href="https://contrataciondigital.afirme.com/contrataciondigital" data-security-popup="hide" value="Ver más">Ver más</a>
                    </div>
                </div>
                </div>
            </div>
       </div>
      

    </div>
</div>









