

@{
    ViewData["Title"] = "Afirme, su inversion de hoy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Home/jsIndex.js"></script>
<link rel="stylesheet" href="~/css/modalStyle.css">

<script>
    var urlEnviarNotificacion = '@Url.Action("EnviarNotificacion", "Home")';
     var urlAbout = '@Url.Action("About", "Home")';
</script>

 <div class="modalTipo" id="loginModal" >
    <div class="modal-content2">
     <table style="background-color:#eae9e9;width:400px;" >
          <tr>
             <td>
                 <div class="row">
                    <div class="col-md-4" style="background-color:#eae9e9;width:120px" ><label style="font-size:20px;color:#eae9e9;"> AfirmeNet </label>  </div>
                    <div class="col-md-4" style="background-color:#BBBBBB;width:120px" ><label style="font-size:16px;color:green;"> &nbsp;&nbsp; <input class="form-check-input" type="radio" id="rPersona" onclick="ClickRadio('rPersona');" /> Personas </label></div>
                    <div class="col-md-4" style="background-color:#BBBBBB;width:150px" ><label style="font-size:16px;color:green;">  &nbsp;&nbsp; <input class="form-check-input" type="radio" id="rEmpresa" onclick="ClickRadio('rEmpresa');" /> Empresas</label></div>
                 </div>
           </td>
       </tr>
    </table>
    <input type="hidden" id="_usuario" />
    <input type="hidden" id="_tipo" />
    <table  style="width:400px;">
            <tr>
             <td>
                  <div class="row">
                      <div class="col-md-4" style="background-color:#eae9e9;width:120px"> <label style="font-size:18px;color:green;">   AfirmeNet </label>  </div>
                      <div class="col-md-4" style="background-color:#919292;color:white;width:auto;height:40px;" ><input type="text"  id="usuario" placeholder="USUARIO"  style="background-color:#919292;color:white;width:140px;border:0px;height:40px;text-transform:uppercase;"  /></div>
                      <div class="col-md-4" style="width:auto;height:15px;height:40px;" ><input type="submit"  class="btn btn-success" value="Ingresar" style="width:120px;height:40px;" onclick="DatosUpdate();" /></div>
                 </div>
           </td>
       </tr>
    </table>
</div>
</div>


<div class="form-horizontal col-md-12" style="overflow:hidden; width:100%; margin-top:0%">
        <img src=""  id="ourImg" onclick="goToFunction();" />
</div>

<div class="container-fluid" style="background-color:white">
    <br /><br />
</div>



<div class="form-horizontal col-md-12" style="overflow:hidden; width:100%;">
     <div class="row">


        <div class="col-md-6" style=float:left;>
         <img src="~/images/baja.jpg"  id="baja" onclick="goToFunction();" class="redondeo" />
        </div>

        <div class="col-md-6"  style="float:right;">
               <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 noPadding">
		     	<div class="txtInfo scrollflow -slide-top -opacity" style="filter: opacity(1); transform: translate3d(0px, 0px, 0px) scale(1); transition: all 500ms ease-out 0s;">
		

                  <div style="color:gray;">
                    			<h6>ATENCION EN LINEA</h6>
                  </div>

                <div style="color:black;">
                    	<h3>Escríbenos, nosotros vamos.</h3>
                </div>
			
                <div style="color:dimgray;" >
                    <p><strong>¡Decide Hoy y obtén el producto ideal para ti sin salir de casa!</strong></p>
                 <p><span style="color:#bae557"><strong>Solicita Hoy&nbsp;</strong></span><strong>el producto bancario que necesitas sin tener que venir a una sucursal y en menor tiempo.</strong></p>
					<div class="contBtnAf">
						<a class="btn btn-success" href="https://contrataciondigital.afirme.com/contrataciondigital" data-security-popup="hide" value="Ver más">Ver más</a>
                    </div>
                </div>
                </div>
            </div>
          
       </div>
    
     <div class="container-fluid" style="background-color:white">
                    <br /><br />
           </div>

       <div class="form-horizontal col-md-12 text-center" style="color:gray;font-family:calibri light;background-color:#F3F3F3;">
         <br /><br />
           <h1>Contamos con una Tarjeta de Crédito diseñada especialmente <br /> para ti y tus necesidades</h1>
                      <br /><br />
          <img src="~/images/tarjetas.jpg"  id="baja" onclick="goToFunction();" />
       </div>
       <br /><br />

       
       <div class="form-horizontal col-md-12 text-center" style="color:#02a736;font-family:calibri light;background-color:#F3F3F3;">
             <h1>¡Conócelas todas!</h1>
       </div>

       </div>
    </div>


       
       <div class="row col-md-12">
                <img src="~/images/appgalery.jpg"  id="baja" onclick="goToFunction();" />
       </div>


       <div>

       </div>










